<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Práctica CSS Odin Project</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <!-- index.html -->


    <h2 id='title'></h2>Esta es fingui misteriosa</h2>

    <img src="../imgs/finguifingui.webp">

    <p class="read">Fingui es un gato misterioso que se mueve entre la niebla</p>

    <p class="unread">Pero en realidad intenta esconderse para dormir siestas mejor</p>
    
</body>
</html>